<div class="row">
	<div class="col-12 col-md-4">
		<ul id="menu">
			{{#each burgers}}
			{{#unless devoured}}
			<li data-id="{{id}}">
				<button class="btn btn-warning">Devour</button>
				{{name}}
			</li>
			{{/unless}}
			{{/each}}
		</ul>
	</div>
	<div class="col-12 col-md-4">
		<p>Enter a burger to order:</p>
		<form id="order-form" class="d-flex">
			<input type="text" id="burger" class="form-control" placeholder="Burger Name">
			<button type="submit" class="btn btn-warning ml-3">Order</button>
		</form>
	</div>
	<div class="col-12 col-md-4">
		<ul id="history">
			{{#each burgers}}
			{{#if devoured}}
			<li>
				{{name}}
			</li>
			{{/if}}
			{{/each}}
		</ul>
	</div>
</div>
